{{define "main"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>UBICLEAN</title>
    </head>
    <style>
        html {
            word-break: break-all;
        }
        table {
            width:100%;
            border-collapse:collapse;
        }
    </style>
    <body>
    <script type="text/javascript">
        function checkAll(formname, checktoggle)
        {
            var checkboxes = new Array();
            checkboxes = document.forms[formname].getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type === 'checkbox') {
                    checkboxes[i].checked = checktoggle;
                }
            }
        }
    </script>

    <form name="tabDel" id="tabDel" action="{{.Path}}" method="post" accept-charset="UTF-8" >
        <li>
            <label class="cba">
                <a href="javascript:void();" onclick="javascript:checkAll('tabDel', true);">Check All</a>
                <a href="javascript:void();" onclick="javascript:checkAll('tabDel', false);">UnCheck All</a>
            </label>
        </li>
        <table border="1" width="100">
            <thead>
            <tr>
                <th>hostname</th>
                <th>sites</th>
            </tr>
            </thead>
            <tbody>
            {{$endpoint := .DelEndpoint}}
            {{$options := .Options}}
            {{range .Hosts}}
                <tr>
                    <td valign="top">{{.Hostname}}</td>
                    <td>
                        <table border="1" width="100">
                            <thead>
                            <th>site_id</th>
                            {{range $options}}
                                <th>{{.}}</th>
                            {{end}}
                            </thead>
                            <tbody>
                            {{$host := .Hostname}}
                            {{range .Sites}}
                                <tr>
                                    {{$site := .SitesID}}
                                    <td valign="top">{{.SitesID}}</td>
                                    {{range .Opts}}
                                        <td valign="top">
                                            {{range .Data}}
                                                <p>
                                                    <input type="checkbox" id="{{$host}}*{{$site}}*opt*{{.Encoded}}*{{$endpoint}}" name="{{$host}}*{{$site}}*opt*{{.Encoded}}*{{$endpoint}}" checked>
                                                    <label for="{{$host}}*{{$site}}*opt*{{.Encoded}}*{{$endpoint}}">{{.ID}}</label>
                                                </p>
                                            {{end}}
                                        </td>
                                    {{end}}
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <div>
            <button>Submit</button>
        </div>
    </form>
    </body>
    </html>
{{end}}
