{{define "main"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>UBICLEAN</title>
    </head>
    <body>

    <script type="text/javascript">
        function checkAll(formname, checktoggle)
        {
            var checkboxes = new Array();
            checkboxes = document.forms[formname].getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type === 'checkbox') {
                    checkboxes[i].checked = checktoggle;
                }
            }
            let items = document.getElementsByClassName("instance")
            size = items.length;
            for (let i = 0; i < size; i++) {
                items[i].checked = false
            }

            items = document.getElementsByClassName("opts")
            size = items.length;
            for (let i = 0; i < size; i++) {
                items[i].checked = false
            }

        }

        function checkClassID(vClass, id, check) {
            let items = document.getElementsByClassName(vClass)

            size = items.length;
            for (let i = 0; i < size; i++) {
                if (items[i].id != id) {
                    console.log(items[i].id)
                    items[i].checked = check
                }
            }
        }

        function reworkChecked(id, env) {
            let item = document.getElementById(id);

            if (item.checked == true)
                checkClassID(env, id, false)

        }

    </script>
    <form name="tabDel" id="tabDeL" action="{{.Path}}" method="post" accept-charset="UTF-8" >
        <li>
            <label class="cba">
                <a href="javascript:void();" onclick="javascript:checkAll('tabDel', true);">Check All</a>
                <a href="javascript:void();" onclick="javascript:checkAll('tabDel', false);">UnCheck All</a>
            </label>
        </li>
        <fieldset id="fd">
            <legend>Select instances :(for the moment, only one at a time can be checked)</legend>
            {{range .Env}}
                {{$inst := .Inst}}
                    {{$id := .ID}}
                <fieldset id ="fd">
                    <div>
                        <input class="instance" type="checkbox" id={{$id}} name={{$id}} unchecked onclick="javascript:reworkChecked({{$id}}, 'instance')">
                        <label for={{$id}}>{{.Name}}</label>
                    </div>
                    <fieldset id="fd">
                        {{range $site := .Sites}}
                            <div>
                                <input type="checkbox" id="{{$inst}}*{{$site}}" name="{{$inst}}*{{$site}}" checked>
                                <label for="{{$inst}}*{{$site}}">{{$site}}</label>
                            </div>
                        {{end}}
                    </fieldset>
                </fieldset>
            {{end}}
        <fieldset id="fd">
            <legend>Select options :(for the moment, only one at a time can be checked)</legend>
            {{range .Opts}}
                <div>
                    <input class="opts" type="checkbox" id="opt*{{.ID}}" name="opt*{{.ID}}" unchecked onclick="javascript:reworkChecked({{.ID}}, 'opts')">
                    <label for="opt*{{.ID}}">{{.Name}}</label>
                </div>
            {{end}}
        </fieldset>
        <div>
            <button>Submit</button>
        </div>
    </form>
    </body>
    </html>
{{end}}
